
.about {
  &__hero {
    background: #fff;
    .subtitle {
      color: #787676;
      width: 80%;
      margin: 0 auto;
      letter-spacing: 3.6px;
      font-weight: bold;
    }
  }

  &__cofounders {
    background: #FBD86D;
  }

  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/about-coverImg.png');
      background-size: cover;
      min-height: 700px;
      background-position: center;
    }
    &-line {
      color: $primary-color;
      display: block;
      font-size: 2rem;
      margin: 2rem 0 3rem;
    }
    &-pic {
      width: 90%;
      margin: 2rem 0;
    }
    &-titleMobile {
      display: none;
    }
  }

  &__testimonies {
    &-title {
      color: #FBB98E;
      margin-bottom: 3rem !important;
      text-transform: uppercase;
    }
    &-subtitle {
      color: #787676;
      width: 80%;
      margin: 0 auto;
      font-size: 1.5rem;
    }
    &-special {
      color: #FBB98E;
    }
    &-signature {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
      width: 80%;
      margin: auto;
    }
    &-signatureText {
      color: #787676;
      font-style: italic;
    }
    &-signatureImg {
      max-height: 70px;
      margin-left: 1rem;
    }
  }

  &__mission {
    background: #F6F6F6;
    padding-top: 5rem;

    &-text {
      padding: 3rem;
      text-align: left;
    }
    &-title {
      line-height: 44px;
      font-size: 2.5rem;
      letter-spacing: 4.65455px;
      color: $primary-color;
      text-transform: uppercase;
    }
    &-description {
      color: #000;
      font-size: 1.2rem;
    }
  }

  &__cofounders {
    margin-top: 5rem;
    &-subtitle {
      color: #000;
      width: 80%;
      margin: 0 auto;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
    &-signatureText {
      color: #000;
      font-style: italic;
    }
  }

  &__board {
    background: #F6F6F6;
    text-align: center;
    &-title {
      line-height: 44px;
      font-size: 2.5rem;
      letter-spacing: 4.65455px;
      color: #1a11a8;
      text-transform: uppercase;
      padding: 3rem 0 2rem;
    }
    &-subtitle {
      color: #000;
      font-size: 1.2rem;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    &-textBox {
      border: 3px solid $primary-color;
      color: #000;
      font-size: 1.2rem;
      width: 70%;
      margin: 5rem auto;
      padding: 1rem 2rem;
      font-weight: 700;
    }
    &-text {
      color: #000;
      font-size: 1.2rem;
    }
    &-list {
      color: #000;
      line-height: 180%;
      font-size: 1.2rem;
    }
    &-img {
      width: 180px;
    }
  }
}

@media screen and (max-width: 768px) {
  .academicPrograms__intro-titleBig {
    display: none;
  }
  .academicPrograms__intro-titleMobile {
    display: block;
  }
  .atom-img {
    width: 100px;
  }
  .orbit-img {
    width: 100px;
  }
}
