
.academicPrograms {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/academicPrograms-kinder.png');
      background-size: cover;
      min-height: 700px;
    }
    &-coverImg2 {
      background: url('/wp-content/uploads/kinder-cover.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
    }
    &-coverImg3 {
      background: url('/wp-content/uploads/nurseryCover.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
    }
    &-coverImg4 {
      background: url('/wp-content/uploads/nurseryCover-2.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
    }
    &-coverImg5 {
      background: url('/wp-content/uploads/prekCover.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
    }
    &-title {
      font-size: 3rem;
      letter-spacing: 5.81818px;
      text-transform: uppercase;
      margin-top: 2rem;
    }
    &-coverDescription {
      padding: 2rem;
      span {
        color: #000;
        text-transform: uppercase;
      }

      .title-kinder {
        color: #F8AA7C;
      }
      &-box {
        width: 80%;
      }
    }
    &-description {
      margin-top: 3rem;
    }
    &-columns {
      margin: 0 !important;
    }
    &-titleMobile {
      display: none;
    }
  }
}

.kinder {
  &__hero {
    background: $kinder-color;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__orbit {
    &-img1 {
      width: 150px;
      position: absolute;
      margin-top: .7rem;
    }
    &-img2 {
      width: 250px;
      position: absolute;
      margin-top: -12rem;
      right: 0;
    }
  }

  &__extracurricular {
    font-size: 2rem;
    letter-spacing: 3.818px;
    text-transform: uppercase;
    margin: 3rem 0;
    &-timeline {
      margin-top: 3rem;
      width: 80%;
    }
    &-schedule {
      font-size: 1rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 700;
      color: #8B8989;
      padding: .5rem;
    }
    &-scheduleTime {
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
      letter-spacing: 0;
    }
    &-line {
      color: $kinder-color;
      display: block;
      font-size: 2rem;
      margin: 2rem 0 3rem;
    }
    &-frequency {
      background: $kinder-color;
      height: 15px;
      width: 50px;
      display: inline-block;
      margin-right: .5rem;
    }
    &-frequencyHalf {
      background: $kinder-color;
      height: 15px;
      width: 25px;
      display: inline-block;
      margin-right: .5rem;
    }
    &-frequencyCont {
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    &-stdText {
      text-transform: none;
      font-size: 1.3rem;
      letter-spacing: 0;
      color: #787676;
      font-weight: 500;
    }
  }

  &__facilities {
    margin-top: 10rem;
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-column {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.elementary {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/elementaryCover.png');
      background-size: cover;
      min-height: 600px;
    }
  }
  &__hero {
    background: $elementary-color;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }
  &__extracurricular {
    &-line {
      color: $elementary-color;
      display: block;
      font-size: 2rem;
      margin: 2rem 0 3rem;
    }
    &-container {
      margin: 5rem 0 !important;
    }
  }
}

.middleSchool {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/middleschoolCover.png');
      background-size: cover;
      min-height: 600px;
    }
  }
  &__hero {
    background: $middle-color;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }
  &-line {
    color: $middle-color;
    display: block;
    font-size: 2rem;
    margin: 2rem 0 3rem;
  }
}

.jrHigh {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/jrhighCover.png');
      background-size: cover;
      min-height: 600px;
    }
  }
  &__hero {
    background: $jrhigh-color;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }
  &-line {
    color: $jrhigh-color;
    display: block;
    font-size: 2rem;
    margin: 2rem 0 3rem;
  }
  &-frequency {
    background: $jrhigh-color;
    height: 15px;
    width: 50px;
    display: inline-block;
    margin-right: .5rem;
  }
  &-frequencyHalf {
    background: $jrhigh-color;
    height: 15px;
    width: 25px;
    display: inline-block;
    margin-right: .5rem;
  }
}

@media screen and (max-width: 768px) {
  .academicPrograms__intro-titleMobile {
    display: block;
  }
  .academicPrograms__intro-titleBig {
    display: none;
  }
}
