.admissions {
  &__philosophy {
    &-title {
      margin: 10rem 0;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #787676;
    }
  }

  &__intro {
    background: url('/wp-content/uploads/admissionsCover.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem;
  }

  &__visit {
    background: $jrhigh-color;
    color: #fff !important;

    &-cont {
      display: flex;
      margin-bottom: 4rem;
    }

    &-column {
      background: #fff;
      box-shadow: 0px 16px 24px rgba(0, 46, 85, 0.403844);
      margin: 1rem;
      flex-grow: 1;
      flex-basis: 0;
      display: block;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      margin: 5rem 0 3rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #fff;
    }

    &-columnTitle {
      color: $primary-color;
      font-weight: bold;
      line-height: 27px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      padding: 2rem;
    }

    &-columnDescription {
      color: #787676;
      line-height: 27px;
      font-size: 18px;
      text-align: center;
      padding: 2rem;

      span {
        color: $primary-color;
      }
    }

    &-columnImg {
      background: url('/wp-content/uploads/admissions-visit.png');
      height: 200px;
      background-size: cover;
      background-position: center;
    }

    &-columnImg2 {
      background: url('/wp-content/uploads/admissions-visit-2.png');
      height: 200px;
      background-size: cover;
      background-position: center;
    }
  }

  &__process {
    &-title {
      margin: 5rem 0 3rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: $primary-color;
    }
    &-timeline {
      display: flex;
    }
    &-timelineSteps {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-timelineDescription {
      font-weight: bold;
      line-height: 27px;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #8B8989;
    }
    &-timelineImg {
      max-width: 26px;
      margin-right: 2rem;
    }
    &-input {
      width: 90%;
      display: block;
      margin: 2rem auto;
      appearance: none;
      background: transparent;
      border: 3px solid #8B8989;
      padding: .5rem;
      height: 60px;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #8B8989;
      font-weight: 700;
      &:focus {
        border: 3px solid $primary-color;
        color: $primary-color;
      }
    }
    &-form {
      margin-top: 3rem;
    }
    &-select {
      width: 90%;
      display: block;
      margin: 2rem auto;
      appearance: none;
      background-image: url("/wp-content/uploads/triangle.png");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 10px;
      background-position-x: 90%;
      border: 3px solid #8B8989;
      padding: .5rem;
      height: 60px;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #8B8989;
      font-weight: 700;
      &:focus {
        border: 3px solid $primary-color;
        color: $primary-color;
      }
    }
    &-checkboxCont {
      font-weight: bold;
      line-height: 27px;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #8B8989;
      margin: 2rem 0;
    }
    &-checkboxInline {
      display: inline-block;
    }
    &-column {
      padding: 2rem;
    }
  }

  &__scheduleVisit {
    background: url("/wp-content/uploads/schedulevisit.png");
    background-position: right;
    background-size: cover;
    &-textBox {
      font-weight: 700;
      line-height: 32px;
      font-size: 22px;
      text-align: center;
      color: $primary-color;
      padding: 2rem;
      border: 3px solid $primary-color;
    }
    &-text {
      font-weight: 700;
      line-height: 27px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: $primary-color;
      margin: 3rem 0;
    }
    &-arrow {
      width: 35px;
    }
    &-column {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      margin-top: 5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .admissions__visit-cont {
    flex-direction: column;
  }
}
