.blog {
  &__intro {
    &-card {
      background: #FFFFFF;
      border: 2px solid #B1B1B1;
      box-sizing: border-box;
      text-align: center;
      width: 80%;
      margin: 3rem auto 0;
    }
    &-cardTitle {
      font-weight: bold;
      line-height: 28px;
      font-size: 22px;
      text-align: center;
      letter-spacing: 4.65455px;
      color: #000000;
    }
    &-cardImg {
      width: 100%;
    }
    &-cardDescription {
      padding: 2rem;
    }
  }
}
