.brillamontLife {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/brillamont-life.png');
      background-size: cover;
      min-height: 300px;
      max-height: 700px;
      background-position: center;
    }
    &-coverImg2 {
      background: url('/wp-content/uploads/brillamont-life2.png');
      background-size: cover;
      min-height: 300px;
      max-height: 700px;
      background-position: center;
    }
    &-coverImg3 {
      background: url('/wp-content/uploads/brillamont-life3.png');
      background-size: cover;
      min-height: 300px;
      max-height: 700px;
      background-position: center;
    }
    &-coverDescription {
      padding: 1rem 3rem;
    }
    &-text {
      margin-top: 2rem;
    }
    &-min {
      height: 220px;
      margin-top: 3rem;
    }
    &-dots {
      height: 10px;
      margin-top: 3rem;
      margin-bottom: -1rem;
    }
  }

  &__latestNews {
    margin-bottom: 5rem;
    &-cover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url('/wp-content/uploads/latest-news.png');
      background-size: cover;
      background-position: center;
      padding: 1rem;
      margin: 1rem;
      height: 100%;
      display: flex;
      align-items: end;
    }
    &-coverTitle {
      margin-bottom: 1rem;
      color: #fff;
      font-weight: 700;
    }
    &-coverText {
      color: #fff;
    }
    &-card {
      display: flex;
      padding: 1rem;
      align-items: center;
justify-content: space-between;
    }
    &-cardText {
      padding: 1rem;
    }
    &-cardTitle {
      margin-bottom: 1rem;
      color: #000;
      font-weight: 700;
    }
    &-cardImg {
      width: 50%;
    }
  }
}
