
.button-transparent {
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;

  &:hover {
    background: #fff;
    color: $primary-color !important;
  }
}

.button-white {
  border: 1px solid $primary-color;
  background: #fff;
  color: $primary-color;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $primary-color;
    color: #fff !important;
  }
}

.button-visit {
  border: 1px solid #1a11a8;
  background: #1a11a8;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 0;
  margin: 2rem;

  &:hover {
    background: #fff;
    color: $primary-color !important;
  }
}

.button-alphaBlue {
  border: 1px solid $primary-color;
  color: $primary-color !important;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $primary-color;
    color: #fff !important;
  }
}

.button-alphaKinder {
  border: 1px solid $kinder-color;
  color: $kinder-color !important;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $kinder-color;
    color: #fff !important;
  }
}

.button-alphaElementary {
  border: 1px solid $elementary-color;
  color: $elementary-color !important;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $elementary-color;
    color: #fff !important;
  }
}

.button-alphaMiddleSchool {
  border: 1px solid $middle-color;
  color: $middle-color !important;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $middle-color;
    color: #fff !important;
  }
}

.button-alphaJrHigh {
  border: 1px solid $jrhigh-color;
  color: $jrhigh-color !important;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

  &:hover {
    background: $jrhigh-color;
    color: #fff !important;
  }
}

@media screen and (max-width: 768px) {
  .button-visit {
    position: relative;
  }
  .button-transparent {
    letter-spacing: 0;
  }
}
