.contact {
  &__intro {
    margin-bottom: 4rem;
    &-title {
      font-weight: bold;
      line-height: 81px;
      font-size: 60px;
      text-align: center;
      letter-spacing: 4.98701px;
      text-transform: uppercase;
      color: $primary-color;
      margin: 2rem 0;
    }
    &-box {
      border: 3px solid $primary-color;
      width: 80%;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
    }
    &-card {
      display: flex;
      align-items: center;
      padding: 1rem;
    }
    &-img {
      height: 50px;
      margin: 2rem;
    }
    &-text {
      font-weight: bold;
      line-height: 28px;
      font-size: 22px;
      text-align: center;
      letter-spacing: 4.65455px;
      color: $primary-color;
      word-wrap: anywhere;
      margin: 1rem;
    }
  }
}

.scheduleVisit {
  &__cover {
    background: url("/wp-content/uploads/scheduleVisit-cover.png");
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }
}
