.history {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/historyCover.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
      z-index: -1;
    }
  }
  &__outro {
    &-coverImg {
      background: url('/wp-content/uploads/history-3.png');
      background-size: cover;
      background-position: center;
      min-height: 700px;
    }
    &-timeline {
      margin: 5rem 0 2rem;
    }
    &-timelineDescription {
      padding: 0 2rem;
    }
    &-timelineTitle {
      font-weight: 500;
      line-height: 50px;
      font-size: 3rem;
      color: #FFFFFF;
    }
  }
}
