.landing {
  &__intro {
    background: url('/wp-content/uploads/intro-cover.png');
    background-size: cover;
    text-align: center;
    padding: 2rem;
  }

  &__philosophy {
    background: url('/wp-content/uploads/puntitos.png');
    &-title {
      margin-top: 10rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: #787676;
    }
    &-titleAlt {
      font-size: 3rem;
      letter-spacing: 5.81818px;
      text-transform: uppercase;
      color: #A2D2FA;
    }
    &-subtitle {
      color: #787676;
      text-transform: uppercase;
    }
    &-text {
    color: #787676;
    padding-left: 2rem;
    }
    &-column {
      align-items: center;
      display: flex;
    }
    &-columnCont {
      width: 100%;
    }
  }

  &__partners {
    &-titleBox {
      background: #FBD86D;
      height: 400px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &-title {
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 4.65455px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    &-logoCont {
      padding: 2rem;
      align-items: center;
      display: flex;
    }
    &-logo {
      width: 100%;
    }
  }

  &__programs {
    margin: 5rem 0;
    &-img {
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 80%;
    }
    &-title {
      color: $primary-color;
      margin-bottom: 3rem;
    }
    &-subtitle {
      font-size: 1.3rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    &-cont {
      text-align: center;
    }

    .color-kinder {
      color: #F8AA7C;
    }
    .color-basicElem {
      color: #36F181;
    }
    .color-midElem {
      color: #A2D2FA;
    }
    .color-advElem {
      color: #FBD86D;
    }
    .color-midSchool {
      color: #FF9F01;
    }
    .color-jrHigh {
      color: #10069F
      ;
    }
  }

  &__outro {
    &-box {
      background: #10069F;
      box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.5);
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding: 1rem;
    }
    &-title {
      letter-spacing: 2.61818px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

@media screen and (max-width: 768px) {
  .landing__philosophy-titleAlt {
    font-size: 2rem;
  }
}
