.innovation {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/google-ref.png');
      background-size: cover;
      min-height: 700px;
      background-position: center;
      z-index: -1;
    }
    &-coverDescription {
      padding: 4rem 2rem;
    }
  }
  &__googleRef {
    margin: 0;
    &-text {
      margin: 2rem 0;
    }
    &-img {
      width: 100%;
    }
  }
  &__lego {
    margin: 0;
    &-text {
      margin: 1rem 0;
      span {
        text-transform: uppercase;
        color: #000;
      }
    }
    &-img {
      margin: 1rem;
      width: 100%;
    }
    &-coverImg {
      background: url('/wp-content/uploads/legoRef.png');
      background-size: cover;
      min-height: 700px;
      background-position: center;
      z-index: -1;
    }
  }
  &__cubetto {
    margin: 0;
    &-text {
      margin: 1rem 0;
    }
    &-img {
      margin-top: 2rem;
      width: 100%;
    }
    &-coverImg {
      background: url('/wp-content/uploads/cubettoCover.png');
      background-size: cover;
      min-height: 700px;
      background-position: center;
      z-index: -1;
    }
  }
  &__hero {
    background: #FBD86D;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }
}
