.navbar {
  padding: 3rem;
  &__logo {
    height: 50px;
  }

  &__item {
    color: $primary-color;
    font-weight: 700;
  }
  &-icons {
    position: absolute;
    right: 0;
    padding-right: 3rem;
  }
  &-iconsMin {
    height: 15px;
    margin-right: 1rem;
  }
}

.footer {
  background-color: #fff;
  padding: 3rem 1.5rem;

  &__logo {
    height: 56px;
    margin-bottom: 1rem;
  }

  &__social {
    padding: 1rem 0;
    &-item {
      color: $primary-color;
      font-size: 1.5rem;
      padding: .5rem;
    }
  }

  &__caption {
    color: $primary-color;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.breadcrumb {
  font-size: 1rem;
  white-space: nowrap;
  background: #1a11a8;
  color: #fff;
  padding: 1rem 3rem;
  margin-bottom: 0 !important;
}

.breadcrumb-kinder {
  background: $kinder-color;
}

.breadcrumb-elementary {
  background: $elementary-color;
}

.breadcrumb-middleSchool {
  background: $middle-color;
}

.breadcrumb-jrHigh {
  background: $jrhigh-color;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  .navbar__logo {
    height: 25px;
  }
  .schoolLeaders__intro-btn {
    display: block;
  }
}
