.news {
  &__intro {
    &-coverImg {
      background: url('/wp-content/uploads/news-cover.png');
      background-size: cover;
      max-height: 700px;
      min-height: 300px;
      background-position: center;
    }
    &-coverDescription {
      padding: 1rem 3rem;
    }
    &-text {
      margin-top: 2rem;
    }
    &-min {
      height: 220px;
      margin-top: 3rem;
    }
  }

  &__philosophy {
    margin: 10rem 0;
    &-title {
      line-height: 32px;
      font-size: 22px;
      color: #787676;
      padding: 1rem;
      span {
        color: #000;
        text-transform: uppercase;
      }
    }
  }

  &__intro-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url('/wp-content/uploads/news-2-cover.png');
    background-size: cover;
    text-align: center;
    padding: 2rem;
  }

  &__blog {
    &-title {
      margin: 3rem;
      font-weight: bold;
      line-height: 27px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      color: $primary-color;
    }
    &-text {
      line-height: 32px;
      font-size: 1.2rem;
      color: #787676;
      padding: 1rem;
    }
    &-img {
      padding: 1rem;
      width: 100%;
    }
  }

  &__popular {
    margin-bottom: 5rem;
    &-title {
      font-weight: bold;
      line-height: 28px;
      font-size: 22px;
      text-align: center;
      letter-spacing: 4.65455px;
      padding: 1rem;
      color: #000;
    }
    &-img {
      padding: 1rem;
      width: 100%;
    }
  }
}
