.schoolLeaders {
  &__intro {
    &-column {
      margin: 0 !important;
    }
  }
  &-coverImg {
    background: url('/wp-content/uploads/school-leaders.png');
    background-size: cover;
    min-height: 700px;
  }
  &__hero {
    background: #A2D2FA;
    .subtitle {
      color: #fff;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__staff {
    &-block {
      background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.0)), url('/wp-content/uploads/leader-1.png');
      background-size: cover;
      cursor: pointer;
    }
    &-block2 {
      background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.0)), url('/wp-content/uploads/leader-2.png');
      background-size: cover;
      cursor: pointer;
    }
    &-block3 {
      background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.0)), url('/wp-content/uploads/leader-3.png');
      background-size: cover;
      cursor: pointer;
    }
    &-block4 {
      background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.0)), url('/wp-content/uploads/leader-4.png');
      background-size: cover;
      cursor: pointer;
    }
    &-text {
      padding: 15rem 2rem 2rem;
    }
    &-title {
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
    &-subtitle {
      color: #fff;
    }
    &-header {
      color: $primary-color;
      padding: 5rem 0;
    }
    &-modalImg {
      background: url('/wp-content/uploads/leader-1.png');
      background-size: cover;
      min-height: 400px;
    }
    &-modalImg2 {
      background: url('/wp-content/uploads/leader-2.png');
      background-size: cover;
      min-height: 400px;
    }
    &-modalImg3 {
      background: url('/wp-content/uploads/leader-3.png');
      background-size: cover;
      min-height: 400px;
    }
    &-modalImg4 {
      background: url('/wp-content/uploads/leader-4.png');
      background-size: cover;
      min-height: 400px;
    }
    &-modalText {
      padding: 2rem;
    }
  }
}

.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
 background-color: #FBD86D;
 margin: 15% auto; /* 15% from the top and centered */
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 height: auto;
max-height: none;
overflow: hidden;
}

.close,
.close2,
.close3,
.close4 {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

@media screen and (max-width: 768px) {
  .schoolLeaders-descriptionCont {
    padding: 0;
  }
}
