.teachingModel {
  &__intro {
    margin-bottom: 3rem;
    &-quote {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-cover {
      margin-top: 2rem;
      padding: 1.5rem;
    }

    &-title {
      font-size: 4rem;
      text-transform: uppercase;
    }

    &-subtitle {
      color: #8B8989;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    &-text {
      color: #8B8989;
    }

    &-textCont {
      padding: 2rem;
      width: 90%;
    }

    &-coverImg {
      background: url('/wp-content/uploads/teachingModel-cover.png');
      background-size: cover;
      min-height: 600px;
    }

    &-coverDescription {
      padding: 2rem;
      span {
        color: #000;
        text-transform: uppercase;
      }
      &-box {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__icon {
    margin: 0 auto;
    max-height: 150px;
    padding: 2rem;
    &-title {
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
    }
  }
}
