.thankyou {
  &__intro {
    background: url('/wp-content/uploads/thankyouCover.png');
    padding: 4rem;
    height: 90vh;
    display: flex;
    align-items: center;
    &-box {
      background: #fff;
      text-align: center;
      padding: 5rem 2rem;
      width: 80%;
      margin: 0 auto;
    }
    &-title {
      font-weight: bold;
      line-height: 35px;
      font-size: 30px;
      text-align: center;
      letter-spacing: 4.98701px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 3rem;
    }
    &-text {
      margin-bottom: 2rem;
    }
  }
}
