$primary-color: #1a11a8;
$kinder-color: #FBB98E;
$elementary-color: #36F181;
$middle-color: #FFA106;
$jrhigh-color: #A2D2FA;
$primary-font: 'Montserrat', sans-serif;

body {
  font-family: $primary-font;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.title-primary {
  color: $primary-color !important;
}

.title-kinder {
  color: $kinder-color !important;
}

.title-elementary {
  color: $elementary-color !important;
}

.title-middleSchool {
  color: $middle-color !important;
}

.title-jrHigh {
  color: $jrhigh-color !important;
}

.hero {
  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
  }
  &__subtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
  }
}


.atom-img {
  width: 200px;
  position: absolute;
  margin-top: -7rem;
}

.orbit-img {
  width: 150px;
  position: absolute;
  margin-top: -7rem;
  right: 0;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 1rem;
  }
  .hero-body {
    padding: 3rem 0rem;
  }
}

@import "buttons";
@import "navigation";
@import "home";
@import "about";
@import "teachingModel";
@import "schoolLeaders";
@import "academicPrograms";
@import "admissions";
@import "brillamontLife";
@import "news";
@import "innovation";
@import "blog";
@import "contact";
@import "thankyou";
@import "history";

@media screen and (max-width: 768px) {
  .resizeTitle {
    line-height: 36px;
    font-size: 2rem;
    letter-spacing: 2.655px;
    margin-bottom: 1rem;
  }
}
