<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag "bulma", "site" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/index.html">
          <img src="/wp-content/uploads/logo.png" class="navbar__logo">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-icons">
            <img class="navbar-iconsMin" src="/wp-content/uploads/burguer-icon.png" alt="">
            <img class="navbar-iconsMin" src="/wp-content/uploads/world-icon.png" alt="">
          </div>
          <a href="/about.html" class="navbar-item navbar__item">
            About
          </a>
          <a href="/school-leaders.html" class="navbar-item navbar__item">
            School Leaders
          </a>
          <a href="/academic-programs.html" class="navbar-item navbar__item">
            Academy Programs
          </a>
          <a href="/admissions.html" class="navbar-item navbar__item">
            Admissions
          </a>
          <a href="/brillamontLife.html" class="navbar-item navbar__item">
            Brillamont Life
          </a>
          <a href="/blog.html" class="navbar-item navbar__item">
            Blog
          </a>
          <a href="/contact.html" class="navbar-item navbar__item">
            Contact
          </a>
          <a href="#" class="navbar-item navbar__item">
            <img class="navbar-iconsMin" src="/wp-content/uploads/search-icon.png" alt="">
          </a>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <img src="/wp-content/uploads/logo.png" class="footer__logo">
            <p class="footer__text">Vasconcelos 701 pte., 66230 <br>
              San Pedro Garza García, N.L.<br>
              <br>
              01 81 8215 0200		contacto@brillamont.edu.mx</p>
          </div>
          <div class="column is-7">
            <p class="footer__text">Our educational methodology is basedΩon Four Fundamental Pillars: Memorable experience, Innovation, Technology and Infrastructure.<br>
              With partners like Google, Edux, Diis Marketing, Steelcase and Cisco, we continuously help integrate our academic programs from Pre-K to
              Middle School.</p>
            <div class="footer__social">
              <a class="footer__social-item"href="https://facebook.com"><i class="fab fa-facebook"></i></a>
              <a class="footer__social-item"href="https://twitter.com"><i class="fab fa-twitter"></i></a>
              <a class="footer__social-item"href="https://instagram.com"><i class="fab fa-instagram"></i></a>
              <a class="footer__social-item"href="https://youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="columns">
              <div class="column">
                <p class="footer__caption">Copyright © Brillamont</p>
              </div>
              <div class="column">
                <p class="footer__caption">Aviso de Privacidad</p>
              </div>
              <div class="column">
                <p class="footer__caption">Sitio Elaborado por Diis Marketing</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
