---
title: Brillamont - About
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/about.html" aria-current="page">About</a></li>
  </ul>
</nav>
<section class="hero is-medium landing__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title">
        Values for <br> success
      </h1>
      <br>
      <a href="#" class="button-transparent">Schedule your visit!</a>
    </div>
  </div>
</section>
<section class="hero is-medium about__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        SERVING THE METROPOLITAN AREA OF MONTERREY, MÉXICO, BRILLAMONT
        OFFERS A COMPREHENSIVE K-9 EDUCATION SYSTEM.
      </h2>
    </div>
  </div>
</section>
<section class="teachingModel__intro">
  <div class="columns">
    <div class="column about__intro-coverImg">

    </div>
    <div class="column teachingModel__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <p><span>Our educational methodology is
          based on Four Fundamental Pillars: </span></p>
        <br>
        <p>Memorable experience<br>
          Innovation<br>
          Technology<br>
          Infraestructure</p>
        <b class="about__intro-line">—</b>
        <p>Throughout all our academic levels, course are taught by talened and experienced teachers.</p>
        <img class="about__intro-pic" src="/wp-content/uploads/about-intro-2.png" alt="">
        <p>Our professional teaching team can successfully develop a high level of bilingual academic competence, promote values, develop habits, and work structure in our students.
          <br><br>
          We also offer a variety of extracurricular clubs and activities open to all students, ranging from athletics to perfomirng arts to civics. </p>
        <img class="about__intro-pic" src="/wp-content/uploads/about-intro-3.png" alt="">
        <a class="button-alphaBlue" href="#">Come to meet us!</a>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium landing__partners">
  <div class="columns">
    <div class="column is-one-third">
      <div class="landing__partners-titleBox">
        <h1 class="landing__partners-title">Our Partners</h1>
      </div>
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/tec.png" alt="">
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/google-edu.png" alt="">
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/chocolatemo.png" alt="">
    </div>
  </div>
</section>
<section class="hero is-medium about__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title about__testimonies-title">Testimonies</h1>
      <h2 class="about__testimonies-subtitle">
        “Hoy me doy cuenta que la presión que sentí en secundaria ahora me hace sentir tranquila, ya que en el salón ponen exámenes sopresa y los de mejores resultados fuimos <span class="about__testimonies-special">otro ex brillamont y yo</span>”.
      </h2>
      <div class="about__testimonies-signature">
        <p class="about__testimonies-signatureText">
          <b>Verónica de la Garza </b><br>
          Madre de Familia
        </p>
        <img class="about__testimonies-signatureImg" src="/wp-content/uploads/testimonial-sign.png" alt="">
      </div>
    </div>
  </div>
</section>
<img class="atom-img" src="/wp-content/uploads/atomCrop.png" alt="">
<section class="hero is-medium schoolLeaders__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        It appears that the prediction made over 37 years ago has become a reality. As students, parents, and staff remain true to our traditions of collaboration and extra effort that have built Brillamont Institute, we will become a school to see our students “Be and Transcend”.
      </h2>
    </div>
  </div>
</section>
<img class="orbit-img" src="/wp-content/uploads/orbitCrop.png" alt="">
<section class="about__mission">
  <div class="columns">
    <div class="column">
      <div class="about__mission-text">
        <h1 class="about__mission-title title resizeTitle">
          Mission <br>
          statement
        </h1>
        <p class="about__mission-description">
          Our education commitment is the integral formation of students, in an intellectual, spiritualm emotional, physical, and social way, from preschool to midleschool.
          <br><br>
          Ensuring an educatinal standard of natinal and international demand.
        </p>
      </div>
    </div>
    <div class="column">
      <img class="about__mission-cover" src="/wp-content/uploads/mission-statement.png" alt="">
    </div>
  </div>
</section>
<img class="atom-img" src="/wp-content/uploads/books.png" alt="">
<section class="hero is-medium about__cofounders has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="about__cofounders-subtitle">
        “Birllamont’s teaching model is based on the premise that the human being must be shaped in a complete, integral, and well-balanced way.”
      </h2>
      <div class="about__testimonies-signature">
        <p class="about__cofounders-signatureText">
          <b>Mr. Americo & Ms. Alma Rosa </b><br>
          Co-founders
        </p>
        <img class="about__testimonies-signatureImg" src="/wp-content/uploads/testimonial-sign.png" alt="">
        <img class="about__testimonies-signatureImg" src="/wp-content/uploads/testimonial-sign-2.png" alt="">
      </div>
    </div>
  </div>
</section>
<img class="orbit-img" src="/wp-content/uploads/orbit-yellow.png" alt="">
<section class="about__board">
  <div class="container">
    <h1 class="about__board-title">Board</h1>
    <p class="about__board-subtitle">The Brillamont Board of Education is composed of 5 residents who serve 2 years. The Board of Education is integred by: </p>
  </div>
  <div class="columns">
    <div class="column">
      <img class="about__board-img" src="/wp-content/uploads/board-1.png" alt="">
      <p class="about__board-text">Education Counselor</p>
    </div>
    <div class="column">
      <img class="about__board-img" src="/wp-content/uploads/board-2.png" alt="">
      <p class="about__board-text">Secretary</p>
    </div>
    <div class="column">
      <img class="about__board-img" src="/wp-content/uploads/board-1.png" alt="">
      <p class="about__board-text">President</p>
    </div>
    <div class="column">
      <img class="about__board-img" src="/wp-content/uploads/board-2.png" alt="">
      <p class="about__board-text">General Director</p>
    </div>
    <div class="column">
      <img class="about__board-img" src="/wp-content/uploads/board-1.png" alt="">
      <p class="about__board-text">Commercial Counselor</p>
    </div>
  </div>
  <div class="container">
    <p class="about__board-textBox">The Board meets every month in the Institute. Additional to these meetings, the General Director assists to EDUX Board of Education Leaders of Private Schools.</p>
  </div>
  <div class="columns">
    <div class="column">
      <div class="about__mission-text">
        <p class="about__board-text">
          Our Board of Education is always motivated to:
        </p>
        <ul class="about__board-list">
          <li>— By success of our students.</li>
          <li>— Focus relentlessly on improving teaching and learning.</li>
          <li>— Tracking student’s progress with appropriate support.</li>
          <li>— Be highly inclusive.</li>
          <li>— Develop every student through promoting rich opportunities for learning.</li>
          <li>— Cultivate support partnerships with parents and the community. </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <img class="about__mission-cover" src="/wp-content/uploads/board-cover.png" alt="">
    </div>
  </div>
</section>
