---
title: Brillamont - Academic Programs
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/academic-programs.html" aria-current="page">Academic Programs</a></li>
  </ul>
</nav>
<section class="hero is-medium landing__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title resizeTitle">
        ACADEMIC <br>
        PROGRAMS
      </h1>
      <p class="hero__subtitle">“Develop a passion for learning. If you do, you will never cease to grow” <br>
        -Anthony J. D’Angelo</p>
      <br>
      <a href="#" class="button-transparent">Schedule your visit!</a>
    </div>
  </div>
</section>
<section class="academicPrograms__intro">
  <div class="">
    <div class="columns academicPrograms__intro-columns">
      <div class="column academicPrograms__intro-coverImg">

      </div>
      <div class="column academicPrograms__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleBig title-kinder">Kindergarten</h1>
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleMobile title-kinder resizeTitle">Kinder-garten</h1>
          <p class="academicPrograms__intro-description"><span>It appears that</span> the prediction made over 30 years ago has become a reality. As students, parents and staff remain true to our traditions of collaboration and extra effort that have built Brillamot Institute, we will become a school to see out students.</p>
          <a class="button-alphaKinder" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="columns academicPrograms__intro-columns">
      <div class="column academicPrograms__intro-coverImg2">

      </div>
      <div class="column academicPrograms__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleBig title-elementary">Elementary</h1>
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleMobile title-kinder resizeTitle">Kinder-garten</h1>
          <p class="academicPrograms__intro-description"><span>It appears that</span> the prediction made over 30 years ago has become a reality. As students, parents and staff remain true to our traditions of collaboration and extra effort that have built Brillamot Institute, we will become a school to see out students.</p>
          <a class="button-alphaElementary" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="columns academicPrograms__intro-columns">
      <div class="column academicPrograms__intro-coverImg3">

      </div>
      <div class="column academicPrograms__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleBig title-middleSchool">Middle School</h1>
          <h1 class="academicPrograms__intro-title academicPrograms__intro-titleMobile title-kinder resizeTitle">Kinder-garten</h1>
          <p class="academicPrograms__intro-description"><span>It appears that</span> the prediction made over 30 years ago has become a reality. As students, parents and staff remain true to our traditions of collaboration and extra effort that have built Brillamot Institute, we will become a school to see out students.</p>
          <a class="button-alphaMiddleSchool" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
  $('.academicPrograms__intro').slick({
    dots: true
  });
});
</script>
