---
title: Brillamont - Admissions
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/admissions.html" aria-current="page">Admissions</a></li>
  </ul>
</nav>
<section class="hero is-medium landing__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title resizeTitle">
        ADMISSIONS
      </h1>
      <p class="hero__subtitle">Values for Success</p>
      <br>
      <a href="#" class="button-transparent">Schedule your visit</a>
    </div>
  </div>
</section>
<section class="hero is-large">
    <div class="container">
      <h1 class="admissions__philosophy-title">
        THE ADMISSIONS PROCESS IS OPEN THROUGHOUT THE ENTIRE SHCOOL YEAR. WE CONTACT PARENTS THROUGH A PHONE CALL OR E-MAIL, WHERE WE BEGIN THE ADMISSION PROCESS BY SETTING UP AN INTERVIEW METTING.
      </h1>
      <br>
    </div>
</section>
<section class="admissions__visit">
  <div class="hero is-medium admissions__intro">
    <div class="hero-body">
      <div class="container">

      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="admissions__visit-title">
      — <br>
      Visit Brillamont
    </h1>
    <div class="columns">
      <div class="column admissions__visit-cont">
        <div class="admissions__visit-column">
          <h5 class="admissions__visit-columnTitle">IF YOU ARE A PARENT OR A PROSPECTIVE STUDENT.</h5>
          <p class="admissions__visit-columnDescription">If you would like to tour the shool and meet with our admission counselor and one of our directors or just a campus visit, please call:</p>
          <p class="admissions__visit-columnDescription"><span>MRS. ARACELI ROBLEDO</span><br>
          Schoolar Services <br>
          (52) 821 502 00 ext 131</p>
          <div class="admissions__visit-columnImg"></div>
        </div>
        <div class="admissions__visit-column">
          <h5 class="admissions__visit-columnTitle">IF YOU ARE AN EDUCATOR.</h5>
          <p class="admissions__visit-columnDescription">We love to recieve fellow educator in our Institute. Please call:</p>
          <p class="admissions__visit-columnDescription"><span>+52 (81) 821 502 00</span></p>
          <p lass="admissions__visit-columnDescription">To assist you on planning an agenda that best satisfies your specific needs.<br>
          <div class="admissions__visit-columnImg2"></div>
        </div>
        <div class="admissions__visit-column">
          <h5 class="admissions__visit-columnTitle">IF YOU ARE AN ALUMNUS.</h5>
          <p class="admissions__visit-columnDescription">We enjoy seeing our graduates return. We enjoy their visits even more if they have made arrangements in advance to meet with their former teachers.</p>
          <p class="admissions__visit-columnDescription">If prior arrangements have not been coordinated with a teahcer, please only visit once the plans have been mande with the teacher.</p>
          <p class="admissions__visit-columnDescription">When you contact a teacher, he or she will send an e-mail to our visit center letting them know when you are coming to visit, and where they will meet you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="admissions__process">
  <div class="container">
    <h1 class="admissions__process-title">
      — <br>
      ADMISSION PROCESS
    </h1>
    <div class="columns">
      <div class="column admissions__process-column">
        <h5 class="admissions__process-title title-kinder">CHILD DEVELOPMENT <br>
          AND PREESCHOOL</h5>
        <div class="admissions__process-timeline">
          <img class="admissions__process-timelineImg" src="/wp-content/uploads/admissionsTimeline.svg" alt="">
          <div class="admissions__process-timelineSteps">
            <p class="admissions__process-timelineDescription">
            INFORMATION AND
            APPLICATION DELIVERY
            TO PARENTS </p>
            <p class="admissions__process-timelineDescription">
            INTEGRATION OF APPLICATION </p>
            <p class="admissions__process-timelineDescription">
            APPLICATION AND DOCUMENTATION
            TO THE SCHOOL </p>
            <p class="admissions__process-timelineDescription">
            REGISTRATION </p>
            <p class="admissions__process-timelineDescription">
            PEDAGOGICAL EVALUATION  </p>
            <p class="admissions__process-timelineDescription">
            RESULTS INTERVIEW </p>
          </div>
        </div>
      </div>
      <div class="column admissions__process-column">
        <h5 class="admissions__process-title title-elementary">ELEMENTARY <br>
          AND MIDDLE SCHOOL</h5>
        <div class="admissions__process-timeline">
          <img class="admissions__process-timelineImg" src="/wp-content/uploads/admissionsTimeline2.svg" alt="">
          <div class="admissions__process-timelineSteps">
            <p class="admissions__process-timelineDescription">
            INFORMATION AND
            APPLICATION DELIVERY
            TO PARENTS </p>
            <p class="admissions__process-timelineDescription">
            INTEGRATION OF APPLICATION </p>
            <p class="admissions__process-timelineDescription">
              SCHOOL APPLICATION AND
              DOCUMENTATION </p>
            <p class="admissions__process-timelineDescription">ADMISSION EXAM </p>
            <p class="admissions__process-timelineDescription">
            RESULTS DELIVERY </p>
            <p class="admissions__process-timelineDescription">
            REGISTRATION </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="admissions__process">
    <h1 class="admissions__process-title">
      — <br>
      SCHEDULE A VISIT
    </h1>
    <div class="columns">
      <div class="column admissions__scheduleVisit">

      </div>
      <div class="column">
        <div class="admissions__scheduleVisit-column">
          <p class="admissions__scheduleVisit-textBox">Interviews are held at 9:00 am on Mondays, Thursdays and Fridays. On Wednesdays, interviews begin at 10:00 am. The interview process last about and hour.</p>
          <p class="admissions__scheduleVisit-text">PLEASE FILL OUT THE FORM BELOW AND WE WEILL GET IN TOUCH TO SET UP TO A VISIT</p>
          <img class="admissions__scheduleVisit-arrow" src="/wp-content/uploads/arrow-down.png" alt="">
        </div>
      </div>
    </div>
</section>
<section class="admissions__process">
  <div class="container">
    <div class="columns admissions__process-form">
      <div class="column">
        <select class="admissions__process-select" name="">
          <option value="">2018-2019</option>
          <option value="">2019-2020</option>
        </select>
        <input class="admissions__process-input" type="text" name="" placeholder="Phone Number">
        <input class="admissions__process-input" type="email" name="" placeholder="Email Address">
        <select class="admissions__process-select" name="">
          <option value="">Number of Children</option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
      </div>
      <div class="column">
        <input class="admissions__process-input" type="text" name="" placeholder="Name">
        <input class="admissions__process-input" type="text" name="" placeholder="Mobile Phone Number">
        <select class="admissions__process-select" name="">
          <option value="">Residential Area</option>
          <option value="">San Pedro</option>
          <option value="">Monterrey</option>
          <option value="">Santa Catarina</option>
        </select>
      </div>
    </div>
    <h5 class="admissions__process-timelineDescription has-text-centered">
      SCHOOL LEVEL OF INTEREST
    </h5>
    <div class="columns has-text-centered admissions__process-checkboxCont">
      <div class="column is-offset-1 is-3">
        <div class="has-text-left admissions__process-checkboxInline">
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> NURSERY<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> PRE-K<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> KINDER 1<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> KINDER 2<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> PRESCHOOL<br>
        </div>
      </div>
      <div class="column">
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 1º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 2º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 3º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 4º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 5º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 6º PRIMARIA<br>
      </div>
      <div class="column">
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 7º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 8º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 9º PRIMARIA<br>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a class="button-alphaBlue" href="#">Send</a>
      </div>
    </div>
  </div>
</section>
