---
title: Brillamont - Life
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/brillamontLife.html" aria-current="page">Brillamont Life</a></li>
  </ul>
</nav>
<section>
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="academicPrograms__intro">
    <div class="columns academicPrograms__intro-columns">
      <div class="column brillamontLife__intro-coverImg">

      </div>
      <div class="column brillamontLife__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <img class="brillamontLife__intro-dots" src="/wp-content/uploads/brillamontLife-dots.png" alt="">
          <h1 class="academicPrograms__intro-title title-primary">MEET OUR STUDENTS</h1>
          <div class="brillamontLife__intro-text">
            <p><span>From Pre-k to Middle school</span>, we are proud to contribute to the academic and personal information we give out stidents to become whole-grounded people.</p>
            <br>
            <p>We believe that being committed to develop on the early stages will contribute greatly as they become active participants in our society.</p>
          </div>
          <img class="brillamontLife__intro-min" src="/wp-content/uploads/brillamont-life-min.png" alt="">
        </div>

      </div>
    </div>
  </div>
  <div class="academicPrograms__intro">
    <div class="columns academicPrograms__intro-columns">
      <div class="column brillamontLife__intro-coverImg2">

      </div>
      <div class="column brillamontLife__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <img class="brillamontLife__intro-dots" src="/wp-content/uploads/brillamontLife-dots2.png" alt="">
          <h1 class="academicPrograms__intro-title title-primary">COMMUNITY ENGAGEMENT</h1>
          <div class="brillamontLife__intro-text">
            <p><span>We deeply believe</span> that engaging our students with Brillamont's comminuty and with our city's society is key in their development. Here at Brillamont, we create programs where our students can have real community experiences.</p>
          </div>
          <img class="brillamontLife__intro-min" src="/wp-content/uploads/brillamont-life-min2.png" alt="">
        </div>

      </div>
    </div>
  </div>
  <div class="academicPrograms__intro">
    <div class="columns academicPrograms__intro-columns">
      <div class="column brillamontLife__intro-coverImg3">

      </div>
      <div class="column brillamontLife__intro-coverDescription">
        <div class="academicPrograms__intro-coverDescription-box">
          <img class="brillamontLife__intro-dots" src="/wp-content/uploads/brillamontLife-dots3.png" alt="">
          <h1 class="academicPrograms__intro-title title-primary">ALUMNI</h1>
          <div class="brillamontLife__intro-text">
            <p><span>Brillamont's Alumni</span> are distinguished in our comminuty for having competent bilingual skills, strong study-work formation and capacity to organize.</p>
            <br>
            <p>They have deep-seated habits and ethical-moral formation that help them take their actions toward the common good.</p>
            <br>
            <p>They are leaders who are looking to develop their community. People who create and innovate.</p>
          </div>
          <img class="brillamontLife__intro-min" src="/wp-content/uploads/brillamont-life-min3.png" alt="">
        </div>

      </div>
    </div>
  </div>
</section>
<section class="brillamontLife__latestNews">
  <div class="container">
    <h1 class="admissions__process-title">
      — <br>
      LATEST NEWS
    </h1>
    <div class="columns">
      <div class="column">
        <div class="brillamontLife__latestNews-cover">
          <div class="brillamontLife__latestNews-coverText">
            <h3 class="brillamontLife__latestNews-coverTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-white" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="brillamontLife__latestNews-card">
          <img class="brillamontLife__latestNews-cardImg"src="/wp-content/uploads/latest-news2.png" alt="">
          <div class="brillamontLife__latestNews-cardText">
            <h3 class="brillamontLife__latestNews-cardTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-alphaBlue" href="#">Read More</a>
          </div>
        </div>
        <div class="brillamontLife__latestNews-card">
          <img class="brillamontLife__latestNews-cardImg" src="/wp-content/uploads/latest-news3.png" alt="">
          <div class="brillamontLife__latestNews-cardText">
            <h3 class="brillamontLife__latestNews-cardTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-alphaBlue" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
