---
title: Brillamont - Contact
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/contact.html" aria-current="page">Contact</a></li>
  </ul>
</nav>
<section class="contact__intro">
  <div class="container">
    <h1 class="contact__intro-title">Visit Us</h1>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="contact__intro-card">
          <div class="contact__intro-box">
            <a class="contact__intro-text" href="#">VASCONCELOS 701 PTE. 66230 <br>
              SAN PEDRO GARZA GARCÍA, NL.</a>
          </div>
          <img class="contact__intro-img" src="/wp-content/uploads/gmaps.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="contact__intro-card">
          <div class="contact__intro-box">
            <p class="contact__intro-text">01 81 8215 0200</p>
          </div>
          <img class="contact__intro-img" src="/wp-content/uploads/telephone.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="contact__intro-card">
          <div class="contact__intro-box">
            <p class="contact__intro-text">INFO@BRILLAMONT.COM.MX</p>
          </div>
          <img class="contact__intro-img" src="/wp-content/uploads/mail.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column academicPrograms__intro-coverImg2">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="column">
        <input class="admissions__process-input" type="text" name="" placeholder="Name">
        <input class="admissions__process-input" type="text" name="" placeholder="Last Name">
        <input class="admissions__process-input" type="text" name="" placeholder="Phone Number">
        <input class="admissions__process-input" type="email" name="" placeholder="Email Address">
        <input class="admissions__process-input" type="text" name="" placeholder="Subject">
        <textarea class="admissions__process-input" name="name" rows="8" cols="80" placeholder="Message"></textarea>
      </div>

    </div>
  </div>
</section>
<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.209807552794!2d-100.41188508498102!3d25.664338883681047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bd63bb883aa5%3A0xf5986f0fdef7b95f!2sInstituto+Brillamont!5e0!3m2!1sen!2smx!4v1550355831864" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
