---
title: Brillamont - Elementary
---
<nav class="breadcrumb breadcrumb-elementary has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/academic-programs.html">Academic Programs</a></li>
    <li class="is-active"><a href="/elementary.html" aria-current="page">Elementary</a></li>
  </ul>
</nav>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column elementary__intro-coverImg">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-elementary">Elementary</h1>
        <p><span>Life is about</span> fulfilling little goals every day, at Brillamont, we believe that ut begins by making children understand for that behavior, knowledge, skills and values acquired with us will prepare them for the future.</p>
        <br>
        <p>It will allow them to succesfully develop the academic knowledge and personal skills that will help them actively earn a worth place in our regional and univeral community.</p>
        <a class="button-alphaElementary" href="/elementary.html">Prospective families<br> request more information!</a>
      </div>

    </div>
  </div>
</section>
<img class="kinder__orbit-img1" src="/wp-content/uploads/orbitKinder.png" alt="">
<section class="hero is-medium elementary__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT’S EDUCATIONAL MODEL IS BASED ON THE PREMISE THAT THE HUMAN BEING MUST FORMED IN A COMPLETE, INTEGRAL AND WELL-BALANCED WAY.
      </h2>
    </div>
  </div>
</section>
<img class="kinder__orbit-img2" src="/wp-content/uploads/orbitKinder2.png" alt="">
<a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-elementary">
      Schedules
    </h1>
    <div class="columns">
      <div class="column">
        <img class="kinder__extracurricular-timeline" src="/wp-content/uploads/timelineElementary.png" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Arrival Time</h5>
          <p class="kinder__extracurricular-scheduleTime">7:50 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Lower elementary recess</h5>
          <div class="columns">
            <div class="column">
              <p class="kinder__extracurricular-scheduleTime">10:00 AM</p>
              <h5 class="kinder__extracurricular-schedule color-basicElem">A</h5>
              <p class="kinder__extracurricular-scheduleTime">10:20 AM</p>
            </div>
            <div class="column">
              <p class="kinder__extracurricular-scheduleTime">12:20 AM</p>
              <h5 class="kinder__extracurricular-schedule color-basicElem">A</h5>
              <p class="kinder__extracurricular-scheduleTime">12:35 AM</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Upper elementary recess</h5>
          <p class="kinder__extracurricular-scheduleTime">10:40 AM</p>
          <h5 class="kinder__extracurricular-schedule color-basicElem">A</h5>
          <p class="kinder__extracurricular-scheduleTime">11:15 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Departure Time</h5>
          <p class="kinder__extracurricular-scheduleTime">2:50 PM</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <b class="elementary__extracurricular-line">—</b>
      </div>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-elementary">
      Extracurricular Activities
    </h1>
    <div class="columns elementary__extracurricular-container">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/disco-ball.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-kinder">DANCE STUDIO</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/guitar.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-basicElem">GUITAR, SINGING</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/violin.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-jrHigh">VIOLIN</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/piano.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-jrHigh">PIANO</h5>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/basketball.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-kinder">BASKETBALL</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/football.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-basicElem">FOOTBALL</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/kimono.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-jrHigh">KARATE-DO</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/robot.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-jrHigh">MECHATRONICS</h5>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/queen.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-kinder">CHESS</h5>
        </div>
      </div>
      <div class="column is-4">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/cheerleader.png" alt="">
          <h5 class="kinder__extracurricular-schedule color-basicElem">CHEERLEADERS</h5>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <b class="elementary__extracurricular-line">—</b>
      </div>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-elementary">
      Elementary > Facilities
    </h1>
    <br>
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <p class="kinder__extracurricular-stdText">In accordance with our Quality Policy, we have a
        well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.</p>
        <br>
        <p class="kinder__extracurricular-stdText">Classrooms fully equiped with A/C, heat and high tech equipment for educational purposes.</p>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro kinder__facilities">
  <div class="columns academicPrograms__intro-columns">
    <div class="column has-text-centered kinder__facilities-column">
      <div class="kinder__facilities-box">
        <p class="kinder__extracurricular-schedule">GYM/ALL-PURPOSE THEATER</p>
        <p class="kinder__extracurricular-schedule">CENTRAL PLAZA / BASKETBALL COURT</p>
        <p class="kinder__extracurricular-schedule">SOCCER FUELD WITH SYNTHETIC GRASS</p>
        <p class="kinder__extracurricular-schedule title-elementary">LIBRARY</p>
        <p class="kinder__extracurricular-schedule">AUDIOVISUAL ROOM</p>
        <p class="kinder__extracurricular-schedule">SCIENCE LAB</p>
        <p class="kinder__extracurricular-schedule">3 TUTORING ROOMS</p>
        <p class="kinder__extracurricular-schedule">2 COMPUTER LABS</p>
        <p class="kinder__extracurricular-schedule">CEREMONIAL ROOM</p>
        <p class="kinder__extracurricular-schedule">MUSIC CLASSROOM</p>
        <p class="kinder__extracurricular-schedule">ART CLASSROOMS</p>
        <p class="kinder__extracurricular-schedule">INDOOR AND OUTDOOR CAFETERIA</p>
        <p class="kinder__extracurricular-schedule">BOY/GIRL RESTROOMS IN EACH LEVEL <br>
          (ELEMENTARY AND MIDDLE SCHOOL)</p>
      </div>
    </div>
    <div class="column academicPrograms__intro-coverImg4">
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE FREE
            GUIDE FOR NURSERY KIDS
          </h1>
          <br>
          <h2 class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </h2>
          <a class="button-alphaElementary" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>
