---
title: Brillamont
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li class="is-active"><a href="/school-leaders.html" aria-current="page">School History</a></li>
  </ul>
</nav>
<section class="innovation__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="columns innovation__lego">
    <div class="column history__intro-coverImg">

    </div>
    <div class="column innovation__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <h1 class="title teachingModel__intro-title">School <br> History</h1>
        <p class="innovation__lego-text">
          <span>Brillamont was founded</span> on May 1980, as a bilingual school in San Pedro Garza García, NL. It was created by a group of education professionals who dedicded to design an educational model that will shape an individual in all its areas and that results in their professional, personal, and social success.
        </p>
        <img class="innovation__lego-img" src="/wp-content/uploads/history-1.png" alt="">
        <p class="innovation__lego-text">
          <span>As a bilingual school</span>, Brillamont's educational model is based on the premise that the human being must ve formed in a complete, integral and well balanced way.
        </p>
        <p class="innovation__lego-text">
          Under this educational principle, Brillamont has devoted its efforts to educate leaders who are morally committed to exellence and contribute in a responsible way to both society and themselves.
        </p>
        <img class="innovation__lego-img" src="/wp-content/uploads/history-2.png" alt="">
        <a class="button-alphaBlue" href="#">Come to meet us!</a>
      </div>
    </div>
  </div>
</section>
<section class="history__outro-coverImg">
  <div class="columns">
    <div class="column">
      <img class="history__outro-timeline" src="/wp-content/uploads/history-timeline.png" alt="">
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <div class="history__outro-timelineDescription">
        <p class="history__outro-timelineTitle">Brillamont first opened its doors in May 1980. </p>
      </div>
    </div>
  </div>
</section>
