---
title: Brillamont
---
<section class="hero is-medium landing__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title">
        Values for <br> success
      </h1>
      <br>
      <a href="#" class="button-transparent">Come to meet</a>
    </div>
  </div>
</section>
<section class="hero is-large landing__philosophy">
  <div class="">
    <div class="container">
      <h1 class="title landing__philosophy-title">
        As a bilingual school, Brillamont’s educational model is based on the premise that the human being must be formed in a complete, integral and well-balanced way.
      </h1>
      <br>
    </div>
    <div class="columns">
      <div class="column">
        <img src="/wp-content/uploads/philosophy.png" alt="">
      </div>
      <div class="column landing__philosophy-column">
        <div class="landing__philosophy-columnCont">
          <h1 class="title landing__philosophy-titleAlt">Philosophy</h1>
          <h5 class="subtitle landing__philosophy-subtitle">Humanistic Philosophy</h5>
          <p class="subtitle landing__philosophy-text">- The educational role is for the student, with <br>
            the student, and owned by the student.<br>
            - Educate a person in an integral way.<br>
            - Promote respect to the integrity of a person.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium landing__partners">
  <div class="columns">
    <div class="column is-one-third">
      <div class="landing__partners-titleBox">
        <h1 class="landing__partners-title">Our Partners</h1>
      </div>
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/tec.png" alt="">
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/google-edu.png" alt="">
    </div>
    <div class="column landing__partners-logoCont">
      <img class="landing__partners-logo" src="/wp-content/uploads/chocolatemo.png" alt="">
    </div>
  </div>
</section>
<section class="hero landing__programs">
  <div class="container has-text-centered">
    <h1 class="title landing__programs-title">
      Academic programs
    </h1>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/kinder.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">Kindergarten</h5>
          <p class="landing__programs-description">
            GRADES N, PK, K1, K2 <br>
            Focus: Language and Psychomotor
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/basic-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">Basic Elementary</h5>
          <p class="landing__programs-description">
            GRADES K3, 1P <br>
            Focus: Literacy and Logic
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/mid-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-midElem">Middle Elementary</h5>
          <p class="landing__programs-description">
            GRADES 2P, 3P <br>
            Focus: Communication and Behavior
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/adv-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-advElem">Advanced Elementary</h5>
          <p class="landing__programs-description">
            GRADES 4P, 5P <br>
            Focus: Passion and Habilities
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/middle-school.png" alt="">
          <h5 class="landing__programs-subtitle color-midSchool">Middle School</h5>
          <p class="landing__programs-description">
            GRADES 6P, 7S <br>
            Focus: Self Governance
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/jr-high.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">Jr. High School</h5>
          <p class="landing__programs-description">
            GRADES 8S, 9S <br>
            Focus: Adolescence and Specialization
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero landing__outro">
<div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">SCHEDULE YOUR <br> VISIT</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">GOOGLE REFRERENCE <br> SCHOOL</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">BLOG & <br> NEWS</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
