---
title: Brillamont - Innovation
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/index.html">Academic programs</a></li>
    <li class="is-active"><a href="/innovation.html" aria-current="page">Innovation</a></li>
  </ul>
</nav>
<section class="hero is-medium landing__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title">
        “INNOVATION DISTINGUISHES BETWEEN A LEADER AND A FOLLOWER”
      </h1>
      <p class="hero__subtitle">-Steve Jobs</p>
    </div>
  </div>
</section>
<section class="innovation__intro">
  <div class="columns innovation__googleRef">
    <div class="column innovation__intro-coverImg">

    </div>
    <div class="column innovation__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <p class="innovation__googleRef-text"><span>A GRS IS</span> a certified by Google for the use of the company's G Suite for Education" a aset of powerful academix tools for collaboration and productivity that heavily rely on connectivity and cloud services to improve the teaching and learning experience in an innovative way.</p>
        <img class="innovation__googleRef-img" src="/wp-content/uploads/google-ref-2.png" alt="">
        <br>
        <p class="innovation__googleRef-text">These tools include productivity and learning apps an the use of Chromebooks in class.</p>
        <p class="innovation__googleRef-text">All our teachers are “Google Certified Educators” which means they can now rely on these tool to save time, organize, and improve the whole learning experience.</p>
        <a class="button-alphaBlue" href="http://edu.google.com">More info in: http://edu.google.com</a>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium jrHigh__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        OUR COMMITMENT IS TO ALWAYSGIVE STUDENTS THE BEST TOOL, SO OUR JOURNEY IS NOT OVER! WE’LL KEEP INNOVATING FOR SUCCESS
      </h2>
    </div>
  </div>
</section>
<section class="innovation__intro">
  <div class="columns innovation__lego">
    <div class="column innovation__lego-coverImg">

    </div>
    <div class="column innovation__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <p class="innovation__lego-text"><span>From Preschool</span> to middle school, LEGO Education provides a continum of hands-on playful learning tools engage every student's natural curiosity, and help them develop the skills and confidence they'll need in the future.</p>
        <img class="innovation__lego-img" src="/wp-content/uploads/lego-ref-2.png" alt="">
        <br>
        <p class="innovation__lego-text">In order to inspire and develop the builders of tomorrow, the LEGO Group has dedicated more than 80 years to understand how students play and learn.</p>
        <p class="innovation__lego-text">Learning has always been at the very core of the company’s most heartfelt values. Being part of the LEGO Group, LEGO Education plays a decisive role in igniting student engagement in learning by giving them hands-on experience that encourages through physicl and digital creation.</p>
        <a class="button-alphaBlue" href="https://education.lego.com/en-us">More info in: https://education.lego.com/en-us</a>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium innovation__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        OUR SOLUTIONS FOR TEACHING AND HANDS-ON LEARNING INSPIRE INTEREST IN SCIENCE, TECHNOLOGY, ENGINEERING, AND MATH (STEM), TARGETED AT PRESCHOOL, ELEMENTARY AND MIDDLE SCHOOL.”
        <br>
        - Lego Education
      </h2>
    </div>
  </div>
</section>
<section class="innovation__intro">
  <div class="columns innovation__cubetto">
    <div class="column innovation__cubetto-coverImg">

    </div>
    <div class="column innovation__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <p class="innovation__cubetto-text"><span>Cubetto is</span> the friendly wooden robot that wil teach your child the basics of computer programming through adventure and hands on play. Montessori approved, LOGO Turtle inspired</p>
        <br>
        <p class="innovation__cubetto-text">Cubbeto Mode of tactile and hard wearing wood he's your childs guide into the wold of coding. Screenless, friendly and ready to play.</p>
        <a class="button-alphaBlue" href="https://www.primtoys.com/">More info in: https://www.primtoys.com/</a>
        <img class="innovation__cubetto-img" src="/wp-content/uploads/cubetto-ref-2.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE GOOGLE
            EDUCATION GUIDE
          </h1>
          <br>
          <p class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodates infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </p>
          <a class="button-alphaBlue" href="#">DOWNLOAD THE GOOGLE<br>EDUCATION GUIDE</a>
        </div>
      </div>
    </div>
  </div>
</section>
