---
title: Brillamont - Jr. High School
---
<nav class="breadcrumb breadcrumb-jrHigh has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/academic-programs.html">Academic Programs</a></li>
    <li class="is-active"><a href="/jrHigh.html" aria-current="page">Jr. High School</a></li>
  </ul>
</nav>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column jrHigh__intro-coverImg">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-jrHigh">Jr. High School</h1>
        <p><span>The knowledge</span> and skills acquired a child's early years have a great impact in their development, at BRILLAMONT, we help develop a child's inner skills and personality.</p>
        <br>
        <p>We allow children to act and play on positive feelings and we are engaged in providing different activities that will enhance their inner talents, thir stage builds a strong foundation for lifelong progress.</p>
        <br>
        <p>An <span>ordinary day of school activities</span> consists of 30min periods based on the number of frqeuencies in the curriculum and a 45min recess</p>
        <a class="button-alphaJrHigh" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
      </div>

    </div>
  </div>
</section>
<img class="kinder__orbit-img1" src="/wp-content/uploads/orbitKinder.png" alt="">
<section class="hero is-medium jrHigh__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT’S EDUCATIONAL MODEL IS BASED ON THE PREMISE THAT THE HUMAN BEING MUST FORMED IN A COMPLETE, INTEGRAL AND WELL-BALANCED WAY.
      </h2>
    </div>
  </div>
</section>
<img class="kinder__orbit-img2" src="/wp-content/uploads/orbitKinder2.png" alt="">
<a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-jrHigh">
      Schedules
    </h1>
    <div class="columns">
      <div class="column">
        <img class="kinder__extracurricular-timeline" src="/wp-content/uploads/timelineJr.png" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Arrival Time</h5>
          <p class="kinder__extracurricular-scheduleTime">8:30 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Snack</h5>
          <p class="kinder__extracurricular-scheduleTime">9:20 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Recess</h5>
          <p class="kinder__extracurricular-scheduleTime">11:20 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Departure Time</h5>
          <p class="kinder__extracurricular-scheduleTime">12:30 PM</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <b class="jrHigh-line">—</b>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column is-6 has-text-centered">
      <h3 class="title">AREAS OF DEVELOPMENT</h3>
    </div>
    <div class="column is-6 has-text-centered">
      <h3 class="title title-jrHigh">NUMBER OF FREQUENCIES</h3>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Cognitive</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Language and communication</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Gross motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Fine motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Social-emocional / affective</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Adaptive / Daily living skills</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / music</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / visual arts</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="jrHigh-frequency"></div>
      <div class="jrHigh-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <b class="jrHigh-line">—</b>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-jrHigh">
      Jr. High School > Facilities
    </h1>
    <br>
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <p class="kinder__extracurricular-stdText">In accordance with our Quality Policy, we have a
        well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.</p>
        <br>
        <p class="kinder__extracurricular-stdText">Classrooms fully equiped with A/C, heat and high tech equipment for educational purposes.</p>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro kinder__facilities">
  <div class="columns academicPrograms__intro-columns">
    <div class="column has-text-centered kinder__facilities-column">
      <div class="kinder__facilities-box">
        <p class="kinder__extracurricular-schedule">GYM/ALL-PURPOSE THEATER</p>
        <p class="kinder__extracurricular-schedule">CENTRAL PLAZA / BASKETBALL COURT</p>
        <p class="kinder__extracurricular-schedule">SOCCER FUELD WITH SYNTHETIC GRASS</p>
        <p class="kinder__extracurricular-schedule title-jrHigh">LIBRARY</p>
        <p class="kinder__extracurricular-schedule">AUDIOVISUAL ROOM</p>
        <p class="kinder__extracurricular-schedule">SCIENCE LAB</p>
        <p class="kinder__extracurricular-schedule">3 TUTORING ROOMS</p>
        <p class="kinder__extracurricular-schedule">2 COMPUTER LABS</p>
        <p class="kinder__extracurricular-schedule">CEREMONIAL ROOM</p>
        <p class="kinder__extracurricular-schedule">MUSIC CLASSROOM</p>
        <p class="kinder__extracurricular-schedule">ART CLASSROOMS</p>
        <p class="kinder__extracurricular-schedule">INDOOR AND OUTDOOR CAFETERIA</p>
        <p class="kinder__extracurricular-schedule">BOY/GIRL RESTROOMS IN EACH LEVEL <br>
          (ELEMENTARY AND MIDDLE SCHOOL)</p>
      </div>
    </div>
    <div class="column academicPrograms__intro-coverImg4">
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE FREE
            GUIDE FOR NURSERY KIDS
          </h1>
          <br>
          <h2 class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </h2>
          <a class="button-alphaJrHigh" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>
