---
title: Brillamont - Kindergarten
---
<nav class="breadcrumb breadcrumb-kinder has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/academic-programs.html">Academic Programs</a></li>
    <li class="is-active"><a href="/kindergarten.html" aria-current="page">Kindergarten</a></li>
  </ul>
</nav>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column academicPrograms__intro-coverImg2">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-kinder">Kindergarten</h1>
        <p><span>The transition</span> from hme to school is very important stage in the life of your little ones. We give a fun approach based on playing, singin, social interaction, and practical activities.such as drawing.</p>
        <br>
        <p>We now that this is your children's first real experience in a teaching environment. We want to make it a good one and give them the preparation and encouragement to start their academic life with success.</p>
        <br>
        <p>An <b class="title-kinder">ordinary day of school activities</b> consists of 30min periods based on the number of frqeuencies in the curriculum and a 45min recess</p>
        <a class="button-alphaKinder" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
      </div>

    </div>
  </div>
</section>
<img class="kinder__orbit-img1" src="/wp-content/uploads/orbitKinder.png" alt="">
<section class="hero is-medium kinder__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT’S EDUCATIONAL MODEL IS BASED ON THE PREMISE THAT THE HUMAN BEING MUST FORMED IN A COMPLETE, INTEGRAL AND WELL-BALANCED WAY.
      </h2>
    </div>
  </div>
</section>
<img class="kinder__orbit-img2" src="/wp-content/uploads/orbitKinder2.png" alt="">
<a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      Extracurricular Activities
    </h1>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/paint-brush.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">ART STUDIO WITH
            MARGARITA SHERIDAN</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/ballerina-shoes.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">ALE MANCILLAS
            DANCE STUDIO </h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/frog.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">JUMPING CLAY</h5>

        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/queen.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">CHESS </h5>
        </div>
      </div>
      <div class="column is-4">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/lotus.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">YOGA</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE FREE
            GUIDE FOR KINDER KIDS
          </h1>
          <br>
          <h2 class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </h2>
          <a class="button-alphaKinder" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column academicPrograms__intro-coverImg3">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-kinder">Nursery</h1>
        <p><span>The knowledge</span> and skills acquired a child's early years have a great impact in their development. At Brillamont, we help develop a child's inner skills and personality.</p>
        <br>
        <p>We allow children to act and play on positive feelings and we are engaged in providing different activities that will enhance their inner tallents, this stage builds a strong foundation for lifelong progress.</p>
        <br>
        <p>An <b class="title-kinder">ordinary day of school activities</b> consists of 30min periods based on the number of frqeuencies in the curriculum and a 45-minute recess.</p>
        <a class="button-alphaKinder" href="/kindergarten.html">Pr ospective families<br> request more information!</a>
      </div>

    </div>
  </div>
</section>
<img class="kinder__orbit-img1" src="/wp-content/uploads/orbitKinder.png" alt="">
<section class="hero is-medium kinder__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT’S EDUCATIONAL MODEL IS BASED ON THE PREMISE THAT THE HUMAN BEING MUST FORMED IN A COMPLETE, INTEGRAL AND WELL-BALANCED WAY.
      </h2>
    </div>
  </div>
</section>
<img class="kinder__orbit-img2" src="/wp-content/uploads/orbitKinder2.png" alt="">
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      Schedules
    </h1>
    <div class="columns">
      <div class="column">
        <img class="kinder__extracurricular-timeline" src="/wp-content/uploads/timeline.png" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Arrival Time</h5>
          <p class="kinder__extracurricular-scheduleTime">8:30 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Snack</h5>
          <p class="kinder__extracurricular-scheduleTime">9:20 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Recess</h5>
          <p class="kinder__extracurricular-scheduleTime">11:20 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Departure Time</h5>
          <p class="kinder__extracurricular-scheduleTime">12:30 PM</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <b class="kinder__extracurricular-line">—</b>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column is-6 has-text-centered">
      <h3 class="title">AREAS OF DEVELOPMENT</h3>
    </div>
    <div class="column is-6 has-text-centered">
      <h3 class="title title-kinder">NUMBER OF FREQUENCIES</h3>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Cognitive</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Language and communication</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Gross motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Fine motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Social-emocional / affective</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Adaptive / Daily living skills</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / music</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / visual arts</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <b class="kinder__extracurricular-line">—</b>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      Preeschool > Facilities
    </h1>
    <br>
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <p class="kinder__extracurricular-stdText">In accordance with our Quality Policy, we have a
        well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.</p>
        <br>
        <p class="kinder__extracurricular-stdText">Classrooms fully equiped with A/C, heat and high tech equipment for educational purposes.</p>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro kinder__facilities">
  <div class="columns academicPrograms__intro-columns">
    <div class="column has-text-centered kinder__facilities-column">
      <div class="kinder__facilities-box">
        <p class="kinder__extracurricular-schedule">GYM/ALL-PURPOSE THEATER</p>
        <p class="kinder__extracurricular-schedule">CENTRAL PLAZA / BASKETBALL COURT</p>
        <p class="kinder__extracurricular-schedule">SOCCER FUELD WITH SYNTHETIC GRASS</p>
        <p class="kinder__extracurricular-schedule title-kinder">LIBRARY</p>
        <p class="kinder__extracurricular-schedule">AUDIOVISUAL ROOM</p>
        <p class="kinder__extracurricular-schedule">SCIENCE LAB</p>
        <p class="kinder__extracurricular-schedule">3 TUTORING ROOMS</p>
        <p class="kinder__extracurricular-schedule">2 COMPUTER LABS</p>
        <p class="kinder__extracurricular-schedule">CEREMONIAL ROOM</p>
        <p class="kinder__extracurricular-schedule">MUSIC CLASSROOM</p>
        <p class="kinder__extracurricular-schedule">ART CLASSROOMS</p>
        <p class="kinder__extracurricular-schedule">INDOOR AND OUTDOOR CAFETERIA</p>
        <p class="kinder__extracurricular-schedule">BOY/GIRL RESTROOMS IN EACH LEVEL <br>
          (ELEMENTARY AND MIDDLE SCHOOL)</p>
      </div>
    </div>
    <div class="column academicPrograms__intro-coverImg4">
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE FREE
            GUIDE FOR NURSERY KIDS
          </h1>
          <br>
          <h2 class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </h2>
          <a class="button-alphaKinder" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro">
  <div class="columns academicPrograms__intro-columns">
    <div class="column academicPrograms__intro-coverImg5">

    </div>
    <div class="column academicPrograms__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-kinder">Pre-K</h1>
        <p><span>At Brillamont,</span> we promote out student's development from basic mental processes.</p>
        <br>
        <p>We engage them to acknowledge the world that surrounds them by the education of aptitudes, habits, and values that support them in learning a positive socializing process.</p>
        <br>
        <p>This stage in a child's education is also meant to their motor shills and develop skills that will enable them to be original and spontaneous with the world around them.</p>
        <br>
        <p>An <b class="title-kinder">ordinary day of school activities</b> consists of 30min periods based on the number of frqeuencies in the curriculum and a 45-minute recess.</p>
        <a class="button-alphaKinder" href="/kindergarten.html">Pr ospective families<br> request more information!</a>
      </div>

    </div>
  </div>
</section>
<img class="kinder__orbit-img1" src="/wp-content/uploads/orbitKinder.png" alt="">
<section class="hero is-medium kinder__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT’S EDUCATIONAL MODEL IS BASED ON THE PREMISE THAT THE HUMAN BEING MUST FORMED IN A COMPLETE, INTEGRAL AND WELL-BALANCED WAY.
      </h2>
    </div>
  </div>
</section>
<img class="kinder__orbit-img2" src="/wp-content/uploads/orbitKinder2.png" alt="">
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      Schedules
    </h1>
    <div class="columns">
      <div class="column">
        <img class="kinder__extracurricular-timeline" src="/wp-content/uploads/timeline.png" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Arrival Time</h5>
          <p class="kinder__extracurricular-scheduleTime">8:30 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Snack</h5>
          <p class="kinder__extracurricular-scheduleTime">9:55 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-kinder">Recess</h5>
          <p class="kinder__extracurricular-scheduleTime">10:40 AM</p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <h5 class="kinder__extracurricular-schedule color-basicElem">Departure Time</h5>
          <p class="kinder__extracurricular-scheduleTime">12:30 PM</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <b class="kinder__extracurricular-line">—</b>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column is-6 has-text-centered">
      <h3 class="title">AREAS OF DEVELOPMENT</h3>
    </div>
    <div class="column is-6 has-text-centered">
      <h3 class="title title-kinder">NUMBER OF FREQUENCIES</h3>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Cognitive</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Language and communication</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Gross motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Fine motor</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Social-emocional / affective</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Adaptive / Daily living skills</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / music</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequency"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <p class="kinder__extracurricular-schedule">Visual and performing arts / visual arts</p>
    </div>
    <div class="column kinder__extracurricular-frequencyCont">
      <div class="kinder__extracurricular-frequency"></div>
      <div class="kinder__extracurricular-frequencyHalf"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <b class="kinder__extracurricular-line">—</b>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      Extracurricular Activities
    </h1>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/paint-brush.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">ART STUDIO WITH
            MARGARITA SHERIDAN</h5>
        </div>
      </div>
      <div class="column is-4">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/ballerina-shoes.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">ALE MANCILLAS
            DANCE STUDIO </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="kinder__extracurricular">
  <div class="container has-text-centered">
    <h1 class="kinder__extracurricular-title title-kinder">
      BASIC ELEMENTARY > Facilities
    </h1>
    <br>
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <p class="kinder__extracurricular-stdText">In accordance with our Quality Policy, we have a
        well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.</p>
        <br>
        <p class="kinder__extracurricular-stdText">Classrooms fully equiped with A/C, heat and high tech equipment for educational purposes.</p>
      </div>
    </div>
  </div>
</section>
<section class="academicPrograms__intro kinder__facilities">
  <div class="columns academicPrograms__intro-columns">
    <div class="column has-text-centered kinder__facilities-column">
      <div class="kinder__facilities-box">
        <p class="kinder__extracurricular-schedule">GYM/ALL-PURPOSE THEATER</p>
        <p class="kinder__extracurricular-schedule">CENTRAL PLAZA / BASKETBALL COURT</p>
        <p class="kinder__extracurricular-schedule">SOCCER FUELD WITH SYNTHETIC GRASS</p>
        <p class="kinder__extracurricular-schedule title-kinder">LIBRARY</p>
        <p class="kinder__extracurricular-schedule">AUDIOVISUAL ROOM</p>
        <p class="kinder__extracurricular-schedule">SCIENCE LAB</p>
        <p class="kinder__extracurricular-schedule">3 TUTORING ROOMS</p>
        <p class="kinder__extracurricular-schedule">2 COMPUTER LABS</p>
        <p class="kinder__extracurricular-schedule">CEREMONIAL ROOM</p>
        <p class="kinder__extracurricular-schedule">MUSIC CLASSROOM</p>
        <p class="kinder__extracurricular-schedule">ART CLASSROOMS</p>
        <p class="kinder__extracurricular-schedule">INDOOR AND OUTDOOR CAFETERIA</p>
        <p class="kinder__extracurricular-schedule">BOY/GIRL RESTROOMS IN EACH LEVEL <br>
          (ELEMENTARY AND MIDDLE SCHOOL)</p>
      </div>
    </div>
    <div class="column academicPrograms__intro-coverImg4">
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE FREE
            GUIDE FOR PRE-K KIDS
          </h1>
          <br>
          <h2 class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodated infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </h2>
          <a class="button-alphaKinder" href="/kindergarten.html">Schedule and appointment <br> to talk about nursery</a>
        </div>
      </div>
    </div>
  </div>
</section>
