---
title: Brillamont
---
<section class="hero is-medium about__cofounders has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="about__cofounders-subtitle">
        Ayuda a que el primer día de clases sea una experiencia positiva para tu hijo.
      </h2>
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/cover-mockup-2.png" alt="">
        </div>
        <div class="column">
          <p class="subtitle">
            ¿Te preocupa la reacción de tu hijo en ese primer día de clases? ¿Crees que le pueda provocar
            ansiedad o estrés? <span>No estás solo.</span>
          </p>
          <div class="admissions__scheduleVisit-column">
            <p class="admissions__scheduleVisit-text">Regístrate para obtener la guía y más información relevante en materia de educación.</p>
            <img class="admissions__scheduleVisit-arrow" src="/wp-content/uploads/arrow-down.png" alt="">
            <input class="admissions__process-input" type="text" name="" placeholder="Name">
            <input class="admissions__process-input" type="text" name="" placeholder="Phone Number">
            <input class="admissions__process-input" type="email" name="" placeholder="Email Address">
            <a class="button-alphaBlue" href="#">Descargar Guía</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
