---
title: Brillamont - News
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/brillamontLife.html">Brillamont Life</a></li>
    <li class="is-active"><a href="/news.html" aria-current="page">News</a></li>
  </ul>
</nav>
<section class="academicPrograms__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="columns academicPrograms__intro-columns">
    <div class="column news__intro-coverImg">

    </div>
    <div class="column brillamontLife__intro-coverDescription">
      <div class="academicPrograms__intro-coverDescription-box">
        <h1 class="academicPrograms__intro-title title-primary resizeTitle">All the information about Brillamont Events</h1>
        <div class="brillamontLife__intro-text">
          <p>The Brillamont Teaching Model was born based on the premise that the human being must be shaped in a complete, integral and well-balanced way.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-large news__philosophy">
    <div class="container">
      <h1 class="news__philosophy-title">
        <span>Founded By</span> a group of professional educators led by Mr. Américo Ferrea Olvera who, conscious of the limitations of traditional teaching structures, designed a teaching model which develops the different areas of an individual, and achieves personal and social success as a result.
      </h1>
      <h1 class="news__philosophy-title">
        At Brillamont, under this Teaching Model, we devote our efforts to prepare outstanding students that are morally committed to excellence and who contribute in a responsible way to society and themselves.
      </h1>
      <br>
    </div>
</section>
<section class="brillamontLife__latestNews">
  <div class="container">
    <h1 class="admissions__process-title">
      — <br>
      LATEST NEWS
    </h1>
    <div class="columns">
      <div class="column">
        <div class="brillamontLife__latestNews-cover">
          <div class="brillamontLife__latestNews-coverText">
            <h3 class="brillamontLife__latestNews-coverTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-white" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="brillamontLife__latestNews-card">
          <img src="/wp-content/uploads/latest-news2.png" alt="">
          <div class="brillamontLife__latestNews-cardText">
            <h3 class="brillamontLife__latestNews-cardTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-alphaBlue" href="#">Read More</a>
          </div>
        </div>
        <div class="brillamontLife__latestNews-card">
          <img src="/wp-content/uploads/latest-news3.png" alt="">
          <div class="brillamontLife__latestNews-cardText">
            <h3 class="brillamontLife__latestNews-cardTitle">DOWNLOAD THE FREE GUIDE FOR NURSERY KIDS</h3>
            <p>Morbi elementum sed augue scelerisque malesuada.</p>
            <a class="button-alphaBlue" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
