---
title: Brillamont - News 2
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/news-2.html" aria-current="page">News</a></li>
  </ul>
</nav>
<section class="hero is-medium news__intro-2">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero__title has-text-left">
        EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD
      </h1>
    </div>
  </div>
</section>
<section class="news__blog">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h3 class="news__blog-title">Founded by a group of professional educators led by Mr. Américo Ferrea Olvera.</h3>
        <p class="news__blog-text">
          <span>At Brillamont</span>, under this Teaching Model, we devote our efforts to prepare outstanding students that are morally commited to excellence and who contribute in a responsible way to society and themselves.
        </p>
        <p class="news__blog-text">
          Founded by a group of professional educators led by Mr. Américo Ferrea Olvera who, conscious of the limitations of traditional teaching structures, designed a teaching model which develops the different areas of an individual, and achieves oersonal and social success as a result.
        </p>
        <img class="news__blog-img"src="/wp-content/uploads/news-blogImg.png" alt="">
        <p class="news__blog-text">
          Founded by a group of professional educators led by Mr. Américo Ferrea Olvera who, conscious of the limitations of traditional teaching structures, designed a teaching model which develops the different areas of an individual, and achieves oersonal and social success as a result.
        </p>
        <p class="news__blog-text">
          At Brillamont, under this Teaching Model, we devote our efforts to prepare outstanding students that are morally commited to excellence and who contribute in a responsible way to society and themselves.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="news__popular">
  <div class="container">
    <h1 class="admissions__process-title">
      — <br>
      POPULAR
    </h1>
    <div class="columns">
      <div class="column">
        <img class="news__popular-img" src="/wp-content/uploads/popular-1.png" alt="">
        <h5 class="news__popular-title">EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD</h5>
      </div>
      <div class="column">
        <img class="news__popular-img" src="/wp-content/uploads/popular-2.png" alt="">
        <h5 class="news__popular-title">EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD</h5>
      </div>
      <div class="column">
        <img class="news__popular-img" src="/wp-content/uploads/popular-3.png" alt="">
        <h5 class="news__popular-title">EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD</h5>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="/wp-content/uploads/mockupBook.png" alt="">
        </div>
        <div class="column">
          <h1 class="title">
            DOWNLOAD THE GOOGLE
            EDUCATION GUIDE
          </h1>
          <br>
          <p class="subtitle">
            In accordance with our Quality Policy, we have a
            well-accommodates infraestructure and facilities that are pleasant comfortable and safe for our Brillamont community.
          </p>
          <a class="button-alphaBlue" href="#">DOWNLOAD THE GOOGLE<br>EDUCATION GUIDE</a>
        </div>
      </div>
    </div>
  </div>
</section>
