---
title: Brillamont - Schedule Visit
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li class="is-active"><a href="/scheduleVisit.html" aria-current="page">Schedule a Visit</a></li>
  </ul>
</nav>
<section class="hero is-medium kinder__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        WANT TO TALK TO AN EXPERT<br>
        TO START YOUR CHILD’S<br>
        INNOVATION PATH?
      </h2>
    </div>
  </div>
</section>
<section class="admissions__process">
    <h1 class="admissions__process-title">
      — <br>
      SCHEDULE A VISIT
    </h1>
    <div class="columns">
      <div class="column scheduleVisit__cover">

      </div>
      <div class="column">
        <div class="admissions__scheduleVisit-column">
          <p class="admissions__scheduleVisit-textBox">Interviews are held at 9:00 am on Mondays, Thursdays and Fridays. On Wednesdays, interviews begin at 10:00 am. The interview process last about and hour.</p>
          <p class="admissions__scheduleVisit-text">PLEASE FILL OUT THE FORM BELOW AND WE WEILL GET IN TOUCH TO SET UP TO A VISIT</p>
          <img class="admissions__scheduleVisit-arrow" src="/wp-content/uploads/arrow-down.png" alt="">
        </div>
      </div>
    </div>
</section>
<section class="admissions__process">
  <div class="container">
    <div class="columns admissions__process-form">
      <div class="column">
        <select class="admissions__process-select" name="">
          <option value="">2018-2019</option>
          <option value="">2019-2020</option>
        </select>
        <input class="admissions__process-input" type="text" name="" placeholder="Phone Number">
        <input class="admissions__process-input" type="email" name="" placeholder="Email Address">
        <select class="admissions__process-select" name="">
          <option value="">Number of Children</option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
        </select>
      </div>
      <div class="column">
        <input class="admissions__process-input" type="text" name="" placeholder="Name">
        <input class="admissions__process-input" type="text" name="" placeholder="Mobile Phone Number">
        <select class="admissions__process-select" name="">
          <option value="">Residential Area</option>
          <option value="">San Pedro</option>
          <option value="">Monterrey</option>
          <option value="">Santa Catarina</option>
        </select>
      </div>
    </div>
    <h5 class="admissions__process-timelineDescription has-text-centered">
      SCHOOL LEVEL OF INTEREST
    </h5>
    <div class="columns has-text-centered admissions__process-checkboxCont">
      <div class="column is-offset-1 is-3">
        <div class="has-text-left admissions__process-checkboxInline">
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> NURSERY<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> PRE-K<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> KINDER 1<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> KINDER 2<br>
          <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> PRESCHOOL<br>
        </div>
      </div>
      <div class="column">
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 1º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 2º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 3º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 4º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 5º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 6º PRIMARIA<br>
      </div>
      <div class="column">
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 7º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 8º PRIMARIA<br>
        <input class="admissions__process-checkbox" type="checkbox" name="vehicle" value="Bike"> 9º PRIMARIA<br>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a class="button-alphaBlue" href="#">Send</a>
      </div>
    </div>
  </div>
</section>
