---
title: Brillamont - School Leaders
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li class="is-active"><a href="/school-leaders.html" aria-current="page">School Leaders</a></li>
  </ul>
</nav>
<section class="schoolLeaders__intro">
  <a class="button-visit schoolLeaders__intro-btn" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="columns schoolLeaders__intro-column">
    <div class="column schoolLeaders-coverImg">

    </div>
    <div class="column teachingModel__intro-coverDescription">
      <div class="teachingModel__intro-textCont schoolLeaders-descriptionCont">
        <h1 class="title teachingModel__intro-title resizeTitle">School <br> Leaders</h1>
        <h5 class="subtitle teachingModel__intro-subtitle">Our faculty and staff posses the best and brightest latitudes for:</h5>
        <p class="subtitle teachingModel__intro-text">
          • 	Academic and Professional Competence <br>
          • 	Cusotmer-service and Quality Oriented <br>
          • 	Passion for Excellence<br>
          • 	Team Players that take pride in our institutional<br>
          • 	Innovative and Creative<br>
          • 	Ethical, Humane, Honorable, and with a Teaching Vocation.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium schoolLeaders__hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        BRILLAMONT IS A PLACE WHERE YOUR CHILDREN ARE EDUCATED WITH CATHOLIC VALES WHERE THE WISDOM OF RELIGIOUS TRADITION SHEDS NEW LIGHT UPON THE MOST PRESSING CONCERNS OF OUR OWN TIME, AND WHERE INNOVATION AND A RESPONSIBLE USE OF TECHNOLOGY IS USED TO TEACH AND LEARN AND IS IMMERSED IN EVERY ACTIVITY.
      </h2>
    </div>
  </div>
</section>
<img class="orbit-img" src="/wp-content/uploads/orbitCrop.png" alt="">
<section class="schoolLeaders__staff">
  <div class="container has-text-centered">
    <h1 class="title schoolLeaders__staff-header">Leaders</h1>
  </div>
  <div class="columns">
    <div class="column schoolLeaders__staff-block" id="myBtn">
      <div class="schoolLeaders__staff-text">
        <h3 class="schoolLeaders__staff-title">AMÉRICO<br> FERRERA<br> OLVERA</h3>
        <p class="schoolLeaders__staff-subtitle">PRINCIPAL</p>
      </div>
    </div>
    <div class="column schoolLeaders__staff-block2" id="myBtn2">
      <div class="schoolLeaders__staff-text">
        <h3 class="schoolLeaders__staff-title">DIANA<br> WATTS<br> VILLAREAL</h3>
        <p class="schoolLeaders__staff-subtitle">PRESCHOOL ACADEMIC LEADER</p>
      </div>
    </div>
    <div class="column schoolLeaders__staff-block3" id="myBtn3">
      <div class="schoolLeaders__staff-text">
        <h3 class="schoolLeaders__staff-title">ESTEFANÍA<br> ZIVEC<br> MORENO</h3>
        <p class="schoolLeaders__staff-subtitle">MIDDLE SCHOOL ACADEMIC LEADER</p>
      </div>
    </div>
    <div class="column schoolLeaders__staff-block4" id="myBtn4">
      <div class="schoolLeaders__staff-text">
        <h3 class="schoolLeaders__staff-title">ANTONIO<br> GARCÍA<br> NARVÁEZ</h3>
        <p class="schoolLeaders__staff-subtitle">CHIEF FINANCIAL OFFICES</p>
      </div>
    </div>
  </div>
</section>

<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="columns">
      <div class="column is-4 schoolLeaders__staff-modalImg">

      </div>
      <div class="column">
        <div class="schoolLeaders__staff-modalText">
           <span class="close">&times;</span>
          <h3 class="schoolLeaders__staff-title">AMÉRICO FERRERA<br> OLVERA</h3>
          <p class="schoolLeaders__staff-subtitle">PRINCIPAL</p>
          <br>
          <p>As a bilingual school, Brillmont’s educational model is based on the premise that the human beign must be formed in a complete, integral, and well balanced way.</p>
          <p>Under this educational principle, Brillamon has devoted its efforts to educate leaders who are morally committed to exellence and contribute in a responsible way to both society and themselves.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="myModal2" class="modal">

  <div class="modal-content">
    <div class="columns">
      <div class="column is-4 schoolLeaders__staff-modalImg2">

      </div>
      <div class="column">
        <div class="schoolLeaders__staff-modalText">
           <span class="close2">&times;</span>
          <h3 class="schoolLeaders__staff-title">DIANA WATTS<br> VILLAREAL</h3>
          <p class="schoolLeaders__staff-subtitle">PRESCHOOL ACADEMIC LEADER</p>
          <br>
          <p>As a bilingual school, Brillmont’s educational model is based on the premise that the human beign must be formed in a complete, integral, and well balanced way.</p>
          <p>Under this educational principle, Brillamon has devoted its efforts to educate leaders who are morally committed to exellence and contribute in a responsible way to both society and themselves.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="myModal3" class="modal">

  <div class="modal-content">
    <div class="columns">
      <div class="column is-4 schoolLeaders__staff-modalImg3">

      </div>
      <div class="column">
        <div class="schoolLeaders__staff-modalText">
           <span class="close3">&times;</span>
          <h3 class="schoolLeaders__staff-title">ESTEFANÍA ZIVEC<br> MORENO</h3>
          <p class="schoolLeaders__staff-subtitle">MIDDLE SCHOOL ACADEMIC LEADER</p>
          <br>
          <p>As a bilingual school, Brillmont’s educational model is based on the premise that the human beign must be formed in a complete, integral, and well balanced way.</p>
          <p>Under this educational principle, Brillamon has devoted its efforts to educate leaders who are morally committed to exellence and contribute in a responsible way to both society and themselves.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="myModal4" class="modal">

  <div class="modal-content">
    <div class="columns">
      <div class="column is-4 schoolLeaders__staff-modalImg4">

      </div>
      <div class="column">
        <div class="schoolLeaders__staff-modalText">
           <span class="close4">&times;</span>
           <h3 class="schoolLeaders__staff-title">ANTONIO GARCÍA<br> NARVÁEZ</h3>
           <p class="schoolLeaders__staff-subtitle">CHIEF FINANCIAL OFFICES</p>
          <br>
          <p>As a bilingual school, Brillmont’s educational model is based on the premise that the human beign must be formed in a complete, integral, and well balanced way.</p>
          <p>Under this educational principle, Brillamon has devoted its efforts to educate leaders who are morally committed to exellence and contribute in a responsible way to both society and themselves.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
var modal = document.getElementById('myModal');

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script type="text/javascript">
var modal2 = document.getElementById('myModal2');

var btn2 = document.getElementById("myBtn2");

var span2 = document.getElementsByClassName("close2")[0];

btn2.onclick = function() {
  modal2.style.display = "block";
}

span2.onclick = function() {
  modal2.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
</script>

<script type="text/javascript">
var modal3 = document.getElementById('myModal3');

var btn3 = document.getElementById("myBtn3");

var span3 = document.getElementsByClassName("close3")[0];

btn3.onclick = function() {
  modal3.style.display = "block";
}

span3.onclick = function() {
  modal3.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal3) {
    modal3.style.display = "none";
  }
}
</script>

<script type="text/javascript">
var modal4 = document.getElementById('myModal4');

var btn4 = document.getElementById("myBtn4");

var span4 = document.getElementsByClassName("close4")[0];

btn4.onclick = function() {
  modal4.style.display = "block";
}

span4.onclick = function() {
  modal4.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal4) {
    modal4.style.display = "none";
  }
}
</script>
