---
title: Brillamont - Teaching Model
---
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li class="is-active"><a href="#" aria-current="page">Teaching Model</a></li>
  </ul>
</nav>
<section class="teachingModel__intro">
  <a class="button-visit" href="/scheduleVisit.html">Schedule a visit</a>
  <div class="container">
    <div class="columns">
      <div class="column">
        <img class="teachingModel__intro-cover" src="/wp-content/uploads/teachingModel.png" alt="">
      </div>
      <div class="column teachingModel__intro-quote">
        <div class="teachingModel__intro-textCont">
          <h1 class="title teachingModel__intro-title resizeTitle">Teaching Model</h1>
          <h5 class="subtitle teachingModel__intro-subtitle">Brillamont’s educational model</h5>
          <p class="subtitle teachingModel__intro-text">The Brillamont Teaching Model was born based on the premise that the human being must be shaped in a complete, integral and well balanced way.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="teachingModel__intro">
  <div class="columns">
    <div class="column teachingModel__intro-coverImg">

    </div>
    <div class="column teachingModel__intro-coverDescription">
      <div class="teachingModel__intro-coverDescription-box">
        <p><span>Founded by</span> a group of professional educators led by Mr Americo Olvera with, conscious of the limitations of traditional teaching structures, designed a teaching model which develops the differente areas of an individual, and achieves personal and social success as a result.</p>
        <br>
        <p><span>At Brillamont</span>, under this Teaching Model, we devote our efforts to prepare outstanding students that are morally committed to excellence and who contribute in a responsible way to a society and themselves.</p>
        <a class="button-alphaBlue" href="#">Come to meet us!</a>
      </div>
    </div>
  </div>
</section>
<section class="hero landing__programs">
  <div class="container has-text-centered">
    <h1 class="title landing__programs-title">
      Extracurricular Areas
    </h1>
    <p class="title teachingModel__icon-title">Our curriculum is designed to develop a comprenhensive education through the following areas:</p>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/academic.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">Academic</h5>
          <p class="landing__programs-description">
            • 	Updated Programs <br>
            • 	Professional Teachers<br>
            • 	Modern Teaching Strategies<br>
            • 	Effective Evaluation Processes
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/psychology.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">Psychological</h5>
          <p class="landing__programs-description">
            • 	Healthy Emotional Enviroment<br>
            • 	Developing of Self-image Confidence an Self-esteem<br>
            • 	Motivation Towards Learning, <br>
            • 	Studies, and School Work<br>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/spiritual.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">Spiritual</h5>
          <p class="landing__programs-description">
            	• 	Catholic Formation
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/moral.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">Moral Ethics</h5>
          <p class="landing__programs-description">
            •	Teaching of Virtues <br>
•	Promotion of Ethical and Moral  Values
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/creative.png" alt="">
          <h5 class="landing__programs-subtitle color-midSchool">Creative Thinking</h5>
          <p class="landing__programs-description">
            •	The development of Thinking Skills<br>
•	Teaching to Think
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/sports.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">Sports/Physical</h5>
          <p class="landing__programs-description">
            •	Promotion and Maintenance of Health<br>
•	Development of Physical Attitudes and Aptitudes<br>
•	A Healthy Spirit of Competition
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/social.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">Social</h5>
          <p class="landing__programs-description">
            •	Harmonic Relationship Between an Individual and Society<br>
            •	Collaborative Work Activities<br>
            •	Integration Into Community
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/edubooks.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">Education</h5>
          <p class="landing__programs-description">
            •	Updated Programs<br>
            •	Development and Practice of Constructive and Positive Habits<br>
            •	Development of a Culture in Respect of Legality
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="teachingModel__icon" src="/wp-content/uploads/civic.png" alt="">
          <h5 class="landing__programs-subtitle color-midSchool">Civic/cultural</h5>
          <p class="landing__programs-description">
            •	Promoting a National Identity<br>
            •	Our Values, History, and Traditions<br>
            •	Traning Towards Global Citizenship
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero landing__programs">
  <div class="container has-text-centered">
    <h1 class="title landing__programs-title">
      Academic programs
    </h1>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/kinder.png" alt="">
          <h5 class="landing__programs-subtitle color-kinder">Kindergarten</h5>
          <p class="landing__programs-description">
            GRADES N, PK, K1, K2 <br>
            Focus: Language and Psychomotor
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/basic-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-basicElem">Basic Elementary</h5>
          <p class="landing__programs-description">
            GRADES K3, 1P <br>
            Focus: Literacy and Logic
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/mid-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-midElem">Middle Elementary</h5>
          <p class="landing__programs-description">
            GRADES 2P, 3P <br>
            Focus: Communication and Behavior
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/adv-elementary.png" alt="">
          <h5 class="landing__programs-subtitle color-advElem">Advanced Elementary</h5>
          <p class="landing__programs-description">
            GRADES 4P, 5P <br>
            Focus: Passion and Habilities
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/middle-school.png" alt="">
          <h5 class="landing__programs-subtitle color-midSchool">Middle School</h5>
          <p class="landing__programs-description">
            GRADES 6P, 7S <br>
            Focus: Self Governance
          </p>
        </div>
      </div>
      <div class="column">
        <div class="landing__programs-cont">
          <img class="landing__programs-img" src="/wp-content/uploads/jr-high.png" alt="">
          <h5 class="landing__programs-subtitle color-jrHigh">Jr. High School</h5>
          <p class="landing__programs-description">
            GRADES 8S, 9S <br>
            Focus: Adolescence and Specialization
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero landing__outro">
<div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">SCHEDULE YOUR <br> VISIT</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">GOOGLE REFRERENCE <br> SCHOOL</h5>
        </div>
      </div>
      <div class="column">
        <div class="landing__outro-box">
          <h5 class="landing__outro-title">BLOG & <br> NEWS</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
