---
title: Brillamont - Thank you
---
<section class="thankyou__intro">
  <div class="thankyou__intro-box">
    <h1 class="thankyou__intro-title">Gracias por descargar la
    “Guía práctica para el
    primer día de clases”.</h1>
    <p class="thankyou__intro-text">Te deseamos mucha suerte este inicio de ciclo escolar, y que tu hijo tenga las mejores experiencias en esta nueva etapa de su vida. Para más consejos que ayuden a mejorar la vida de tu hijo en el colegio.</p>
    <a class="button-alphaBlue" href="#">¡VISITA NUESTRO BLOG!</a>
  </div>
</section>
